<link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/app.klipse.tech/css/codemirror.css">

<script>
 window.klipse_settings = {
     codemirror_options_in: {
         lineWrapping: true,
         autoCloseBrackets: true
     },
     codemirror_options_out: {
         lineWrapping: true,
     },
     selector: '.language-klipse pre',
     selector_eval_js: '.language-klipse-eval-js',
     selector_eval_php: '.language-klipse-eval-php',
     selector_eval_ruby: '.language-klipse-eval-ruby',
     selector_js: '.language-klipse-js'
 };
</script>
<script src="https://storage.googleapis.com/app.klipse.tech/plugin_prod/js/klipse_plugin.min.js"></script>
